/* Main Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

/* Title and Button Container */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  margin-top: 10px;
  padding: 15px;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Save Button */
button {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0;
}

button:hover {
  background-color: lightgray;
}

/* Editor Container */
.editor-container {
  width: 80%;
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 15px;
  min-height: calc(100vh - 150px);
  margin-top: 30px;
}

/* Editor content */

.heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.bold-block {
  font-weight: bold;
  margin: 0;
}

.red-line-block {
  color: red;
  margin: 0;
}

.underline-block {
  text-decoration: underline;
  margin: 0;
}
